<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae velit commodi voluptatibus impedit laboriosam assumenda vel molestiae, ab ipsam animi praesentium distinctio, quam nisi debitis labore? Quo doloremque ex beatae?</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul><i class="fa-regular fa-envelope"></i>email@email.com</ul>
      <ul><i class="fa-regular fa-phone"></i>+55 (21) 99999-9999</ul>
      <ul><i class="fa-brands fa-whatsapp"></i>+55 (21) 99999-9999</ul>
    </address>
  </div>

  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>
